* {
	font-family: consolas;
	background-color: #ccf;
}

body {
	max-width: 40em;
	margin: 0 auto;
	margin-top:0.5em;
}

h1 {
	text-align: center;
}

button {
	display:block;
	margin:1em auto;
	padding: 1em 5em;
	font-size: 100%;
	font-weight:bold;
	border:none;
	background-color: cyan;
}
button:hover{
	background-color:black;
	color:cyan;
}

div.keys-line{
	display:flex;
	justify-content: space-between;
}
div.keys-line span{
	width: 100%;
	height:1.5em;
	text-align: center;
	display: inline-block;
	vertical-align:middle;
	padding:0.5em;
	margin:0.1em;
	font-weight:bold;
	border:1px solid slategray;
	border-radius:0.5em;
}
div.keys-line span.pressed{
	opacity: 0.2;
}

pre#to-type {
	font-size: 22px;
	margin-top:4em;
	min-height: 4em;
}
#to-type span.correct{
	background-color: lightgreen;
	opacity: 0.5;
}
#to-type span.incorrect{
	background-color: pink;
	opacity: 0.5;
}
#to-type span.current{
	border-left:3px solid black;
}
#to-type span{
	padding:0 0.2em;
	opacity: 1;
}

#CapsLock{
	padding-left:1.75em;
	padding-right:1.75em;
}
#Tab{
	padding-left:1.25em;
	padding-right:1.25em;
}
#RShift {
	padding-left:1.75em;
	padding-right:1.75em;
}
#Space-bar {
	padding-left:6em;
	padding-right:6em;
}
#A, #S, #D, #F, #J, #K, #L, #\; {
	border:2px solid black;
}

a {
	text-decoration: none;
	display: flex;
	margin-bottom: 2em;
	color:black;
}
a img{
	width: 36px;
}
img {
	width:24px;
}